<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->






<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Banner -->
<app-banner></app-banner>
<!-- Seccion Acerca de Mi -->
<app-acerca-de-mi></app-acerca-de-mi>
<!-- Experiencia -->
<app-experiencia></app-experiencia>
<!-- Educacion -->
<app-educacion></app-educacion>
<!-- Hard Soft skills -->
<app-hard-soft-skills></app-hard-soft-skills>
<!-- Proyectos -->
<app-proyectos></app-proyectos>
<!-- Footer -->
<app-footer></app-footer>