<section id="skills">
    <div class="container">
      <h2 class="titulo-hard h1 mb-3">Hard y soft Skills</h2>
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="progress blue">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">100%</div>
              </div>
              <p class="text-center">Trabajo En Equipo</p>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="progress yellow">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">75%</div>
              </div>
              <p class="text-center">CSS</p>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="progress pink">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">60%</div>
              </div>
              <p class="text-center">JavaScript</p>
          </div>
      </div>
  </div>
  </section>
