
<section id="acerca">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-1">
          <div class="header-content-left">
            <img class="text-center" src="./assets/img/4x4 (2)-modified.png" style="width: 100%;">
            <h2 class="text-center">Full Stack Developer Jr</h2>
          </div>
        </div>
        <div class="col-md-10 ">
          <div class="header-content-right">
            <h2 class="h1">Acerca de mi</h2>
            <p>Estoy aprendiendo todo lo que puedo, para ser un mejor desarrollador de software, con ganas de progresar en este camino y hacer cosas nuevas.</p>
          </div>
        </div>
      </div>
    </div>
  </section>